body { 
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: white;
}

h1 {
    font-family: Sans-serif;
    font-size: 50px;
    text-align: center;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 315px;
    border: 0px;
}

#videofooter {
    font-family: Sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
}

.inline {
    vertical-align: middle;
}

img {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

#info {
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    text-shadow: -0px 0px 10px rgb(137, 140, 155);
    padding-bottom: 20px;
}

#linklist {
    list-style-type: none;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}
.linkitem { 
    display: inline;
    color: rgb(228, 242, 253);
    padding-left: 10px;
    padding-right: 10px;;
    padding-bottom: 4px; 
}

a { 
    font-family: Sans-serif; 
    color: rgb(213, 235, 251);
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

footer {
    height: 50px;
    background: radial-gradient(circle at center, rgb(221, 151, 29), rgb(189, 192, 199));
    font-family: Sans-serif;
    font-size: 12px;
    color: white;
}

#footerframe {
    text-align: center;
    padding-top: 4px;
}

#footer {
    color: white;
}
